.block {
  font-size: 10px;
  display: flex;
  flex-direction: column;
}
.block6 {
  border-radius:5px;
  background: #1E90FF;
  color: white;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: .875rem;
  height: 36px;
  width: 90.453px;
  margin-top: -90px;

}
.block input {
  border-radius: 5px;
  width: 350px;
  height: 40px;
  padding: 5px 10px 5px 10px;
  border:1px solid #999;
  font-size:16px;
  font-family: Tahoma;
  margin: 12px;
  position: relative;
  top: -155px;
}

.block2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.block3 {
  position: relative;
  top: -70px;
  height: 180px;
  font-size: 24px;
  font-family: Arial;
}
.block5{
  position: relative;
  top: -180px;
  font-family: Arial;
}
.block4 {
  font-size: 25px;
  height: 120px;
  font-family: Arial;
}

.block7 {
  border-radius: 5px;
  background: #1a73e8;
  color: white;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: .875rem;
  height: 36px;
  width: 90.453px;
  margin-left: 150px;
  position: relative;
  top: -125px;
  right: -60px;
  border: 0px;
  font-weight:bold;
}
.block7 a {
  color:white;
  text-decoration: none;
}

.border
{
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #dadce0;
  display: block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin: 0 auto;
  min-height: 0;
  -webkit-transition: .2s;
  transition: .2s;
  width: 450px;
  height: 530px;
}
.block8 {
  margin-top: 80px;
}
.block9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  padding: 0;
}
.block10 {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: rgb(60,64,67);
  font-weight: 400;
  outline: none;
  padding: 16.0000002px 16px;
  text-decoration: none;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.block11 {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 0;
}
